<div class="flipDialContainer"
     appEvenWidth>
  <div class="cardsWrapper"
       appHeightDivisibleByFour
       [appTextFitsContainer]="0.5">

    <div class="card topCard">
      <div class="cardNumber">{{(dialNextValue | number: '2.0')}}</div>
    </div>
    <div class="card bottomCard">
      <div class="cardNumber">{{dialValue | number: '2.0'}}</div>
    </div>



    <div class="card flipCard flipCardBottom"
         [ngClass]="flipping ? 'flipping' : ''"
         #flipCard>
      <div class="cardNumber">{{dialNextValue | number: '2.0'}}</div>
    </div>
    <div class="card flipCard flipCardTop"
         [ngClass]="flipping ? 'flipping' : ''"
         #flipCard>
      <div class="cardNumber">{{dialValue | number: '2.0'}}</div>
    </div>


  </div>
</div>
<!-- <button (click)="tickDown()">Flip</button> -->
