.flipDialContainer {
  --border-radius: 0.5vw;
  --bevel-radius: 0.7rem;
  --animation-duration: 1000ms;



  position: relative;
  width: 100%;
  height: 100%;

  background-color: black;
  border-radius: var(--border-radius);
}

.cardsWrapper {
  position: relative;
  perspective: 30rem;
  transform-style: preserve-3d;
  width: 100%;
  height: 95%;
}

.card {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;

  background-color: var(--dark-desaturated-blue);
  color: var(--soft-red);

}

.card::before,
.card::after {
  content: '';
  position: absolute;
  width: var(--bevel-radius);
  height: var(--bevel-radius);
  border-radius: 50%;
  background-color: black;
}

.cardNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;

  line-height: 100%;
  letter-spacing: -2px;
}





//// Top Card //////////////////////////////////////

.topCard {
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  filter: brightness(80%);

  .cardNumber {
    transform: translateY(50%);
  }

  &::before {
    left: calc(var(--bevel-radius)/-2);
    bottom: calc(var(--bevel-radius)/-2);
  }

  &::after {
    right: calc(var(--bevel-radius)/-2);
    bottom: calc(var(--bevel-radius)/-2);
  }
}


//// Flip Cards //////////////////////////////////////////

.flipCard {
  position: absolute;

  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

.flipCardTop {
  top: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  filter: brightness(80%);
  transform-origin: bottom;

  .cardNumber {
    transform: translateY(50%);
  }

  &::before {
    left: calc(var(--bevel-radius)/-2);
    bottom: calc(var(--bevel-radius)/-2);
  }

  &::after {
    right: calc(var(--bevel-radius)/-2);
    bottom: calc(var(--bevel-radius)/-2);
  }


  &.flipping {
    animation-name: topFlipping;
    animation-duration: var(--animation-duration);
  }
}

.flipCardBottom {
  top: 50%;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transform-origin: top;
  transform: rotate3d(1, 0, 0, 180deg);

  .cardNumber {
    transform: translateY(-50%);
  }

  &::before {
    left: calc(var(--bevel-radius)/-2);
    top: calc(var(--bevel-radius)/-2);
  }

  &::after {
    right: calc(var(--bevel-radius)/-2);
    top: calc(var(--bevel-radius)/-2);
  }

  &.flipping {
    animation-name: bottomFlipping;
    animation-duration: var(--animation-duration);
  }
}


//// Bottom Card //////////////////////////////////////////

.bottomCard {
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  .cardNumber {
    transform: translateY(-50%);
    // bottom: 50%;
  }

  &::before {
    left: calc(var(--bevel-radius)/-2);
    top: calc(var(--bevel-radius)/-2);
  }

  &::after {
    right: calc(var(--bevel-radius)/-2);
    top: calc(var(--bevel-radius)/-2);
  }
}

@keyframes topFlipping {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  50% {
    transform: rotate3d(1, 0, 0, -180deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, -180deg);
  }

}

@keyframes bottomFlipping {
  0% {
    transform: rotate3d(1, 0, 0, 180deg);
  }

  50% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}
