*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --ultra-dark-blue: hsl(234, 17%, 12%);

  width: 100%;
  height: 100%;

  font-family: 'Red Hat Text', sans-serif;
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100%;

  background-image: url('./assets/pattern-hills.svg'), url('./assets/bg-stars.svg');
  background-size: max(1000px, 100vw) 30vh, cover;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0, top 0 left 40%;
  background-color: #211d2b;
  font-size: 16px;
}

////////////////////////////////////////////////////////////////////////
